.input {
    border: none;
    width: 60%;
  }
  
  input {
    border: none;
  }
  
  .sort-input,
  .select-input {
    /* margin: 0 10px; */
  }
  
  .table {
    /* margin: 0 70px;
    width: 90%; */
  }
  
  .input-table-div {
    /* margin: 2rem; */
  }

  .input-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 80%;
    /* box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75); */
    border-radius: 0.5rem;
    padding: 0rem 0.5rem;
  }
  
  .input-sort-div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    /* margin-bottom: 1rem; */
    width: 90%;
    margin:  1.6rem ;
    box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
    border-radius: 5px;
  }
  
  .input-flex input {
    width: 100%;
    padding: 0.5rem;
  }
  
  .input-flex {
    border: 2px solid #fff;
    border-radius: 5px;
  }
  
  .input-flex:hover {
    border: 2px solid rgb(218, 241, 245);
    border-radius: 5px;
  }
  .input-flex input:focus {
    outline: none;
  }
  .select-input {
    width: 30%;
    margin-right: 10;
    display: flex;
    align-items: center;
    /* box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75); */
    border-radius: 0.5rem !important;
    padding: 0.2rem 0.5rem;
  }
  
  .select-input-2 > div {
    border-width: 0px !important;
    border-bottom-width: 1px !important;
    border-radius: 0 !important;
    border-color: #000 !important;
  }
  
  .select-input > div {
    border: 0px solid #fff !important;
  }
  
  .my-table {
    box-shadow: var(--grey) 2px 2px 25px; 
    border-radius: 0.5rem !important;
    margin-bottom: 2rem;
    width: 90%;
    margin: 1.6rem; 
  }
  
  .export-btn{
    min-width: 200px;
  }
  
  .label-btn {
    min-width: 200px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 5px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    color: var(--blue);
    cursor: pointer; 
    background-color: var(--blue);
    color: var(--white);
  }

  .table-div {
    padding: 20px 15px;
  }

  .filters-div {
    width: 98% !important;
  }